.github-corner {
  position: absolute;
  top: $headerHeight;
  right: 0;

  .octo-arm {
    transform-origin: 130px 106px;
  }

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }

  @keyframes octocat-wave {
    0%, 100% {
      transform: rotate(0)
    }

    20%, 60% {
      transform: rotate(-25deg)
    }

    40%, 80% {
      transform: rotate(10deg)
    }
  }

  // On small screens do an initial wave, ignore the hover.
  @media (max-width: 500px) {
    &:hover .octo-arm {
      animation: none
    }

    .octo-arm {
      animation: octocat-wave 560ms ease-in-out
    }
  }
}
